<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

        <p>Your word/phrase: <%= @piglatinized_text%> </p>
      </form>
    </form>
  </body>
</html>
